<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512062345870-arnnr4cn9gtv9gj4tsdjrtd63e1otu0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512062345870-arnnr4cn9gtv9gj4tsdjrtd63e1otu0t</string>
	<key>API_KEY</key>
	<string>AIzaSyDg4Q5idhdzFcokXy_BsiAO3GK_FXzrdOA</string>
	<key>GCM_SENDER_ID</key>
	<string>512062345870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arboristAssistant</string>
	<key>PROJECT_ID</key>
	<string>arborist-assistant</string>
	<key>STORAGE_BUCKET</key>
	<string>arborist-assistant.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512062345870:ios:b3796e11b9c0611477afdf</string>
</dict>
</plist>